@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Go-Book is an App to facilitate consumers in browsing and booking an accommodation that is suitable to their desired location, specifications and budget. This app would display the accommodations information, price, along with the reviews and ratings that are given by former customers.</p>
