<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <div id="map"></div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChuO1H-nJLVKc5-F2tSoxmlnqrTpo08hI&callback=initMap"></script>

        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), { zoom: 11, center: { lat: -37.81480089, lng: 144.9633757 } });
                var marker;

                marker = new google.maps.Marker({ position: { lat: -37.81480089 }, lng: 144.9633757 }, title: "Test");


            }
        </script>
    </body>
</html>
